.tableCellText {
    white-space: normal;
    word-wrap: break-word;
}

.errorSuccessMargin {
    margin-bottom: 20px;
}

.row {
    justify-content: space-between;
}

.centered {
    align-items: center;
    margin: 4px;
}