.modal {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 5px 5px 3px gray;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    outline: none;
    max-height: 700px;
}

.modalContent {
    position: relative;
    min-width: 470px;
}

.modalTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.closeIcon {
    cursor: pointer;
    margin-left: 20px;
    margin-top: 25px;
}